.content2 {
  display: flex;
  justify-content: space-between;
}
.content__img2 {
  position: relative;
  padding-bottom: 84%;
  background-color: red;
}
.content2__img2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content2__img-wrapper {
  width: 733.15px;
}
.content2__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 32px;
  font-family: "Gilroy", sans-serif;
}
.content2__text p {
  min-width: 450px;
}
.content2__text q {
  display: flex;

  font-size: 20px;
  font-family: "Gilroy", sans-serif;
  margin-top: 55px;
  line-height: 28.13px;
  max-width: 450px;
}

.content2__button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background-color: #f7951e00;
  margin-top: 50px;
  border: solid 1px #f7941e;
  line-height: 60px;
}
.content2__button h2 {
  color: #f7941e;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  text-align: center;
}