.content2 {
  width: 1440px;
  height: 600px;
  background-color: #f1f1f2;
}
.content2 img {
  width: 730px;
  height: 600px;
}
.content2 p {
  display: flex;
  font-size: 32px;
  font-family: "Gilroy", sans-serif;
  margin-left: 860px;
  margin-top: -450px;
}
.content2 q {
  display: flex;
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
  margin-left: 860px;
  margin-top: 55px;
}
.buttonContent2 {
  display: flex;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background-color: #f7951e00;
  margin-left: 855px;
  margin-top: 50px;
  border: solid 1px #f7941e;
}
.buttonContent2 h2 {
  margin: auto;
  color: #f7941e;
  font-family: "Gilroy", sans-serif;
}
.text__content2 q {
  max-width: 400px;
}
