.content {
  display: flex;
  justify-content: space-between;
}
.content__img {
  position: relative;
  padding-bottom: 97%;
}
.content__img img {
  margin-left: 13px;
}
.div1__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content__img-wrapper {
  width: 719px;
}
.content__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 32px;
  font-family: "Gilroy", sans-serif;
  margin-left: 150px;
}
.content__text p {
  max-width: 400px;
  font-family: "Gilroy", sans-serif;
  color: black;
  font-size: 56px;
  line-height: 69px;
}

.content__text q {
  max-width: 400px;
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 140.62%;
  margin-top: 50px;
}

.content__button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background-color: #f7941e;
  margin-top: 45px;
  line-height: 60px;
}
.content__button h2 {
  color: white;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  text-align: center;
}
.content__button:hover {
  box-shadow: 2px 2px 15px 4px rgba(78, 138, 181, 0.75);
}