
.down__text__content p strong {
  font-family: "Gilroy", sans-serif;
  color: black;
  font-size: 32px;
  margin: 15px;
}

.down__text__content p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy", sans-serif;
  color: black;
  font-size: 18px;
}

.down__text__content {
  padding-top: 40px;
}

.down__block__content {
  display: flex;
  margin: 71px 135px;
  height: 370px;
  background-color: #231f20;
}
.content6__text2__down {
  display: flex;
  flex-direction: column;
  padding: 63px 70px;
  
}

.content6__text2__down h2 {
  color: white;
  font-size: 14px;
  
}

.content6__text2__down p {
  color: white;
  font-size: 48px;
  max-width: 500px;
  padding: 27px 0px;
}

.content6__text2__down li {
  color: white;
  font-size: 18px;
  padding: 60px 0px;
}
.content6__text2__down li a {
  color: white;
}

.content6__text2__down li a:hover {
  color: #f7941e;
}
.content6__2block {
  display: flex;
  flex-direction: row;
  margin-left:50px;
}
.content6__footer1__down {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 570px;
  height: 290px;
  background: rgb(255, 255, 255);
  transform: translate(70px, 0px);
}
.content6__text3__down {
  display: flex;
  flex-direction: column;
}
.content6__text3__down p {
    margin:15px;
}

.content6__footer1__down p strong {
  font-size: 24px;
  max-width: 450px;
  transform: translate(-15px, 0px);
}

.content6__footer1__down p {
  max-width: 460px;
  font-size: 18px;
}
.content6__footer1__down li a {
  color: #000;
}

.content6__footer1__down li {
  margin-top: 26px;
  margin-left: 15px;
  font-size: 14px;
  color: black;
}

.content6__footer1__down li a:hover {
  color: #f7941e;
}

.content6__footer2__down {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 570px;
  height: 290px;
  background: rgb(255, 255, 255);
  transform: translate(70px, 0px);
}
.content6__text4__down p {
    margin:15px;
}
.content6__text4__down {
  display: flex;
  flex-direction: column;
}

.content6__footer2__down p strong {
  font-size: 24px;
  max-width: 450px;
  transform: translate(-15px, 0px);
}

.content6__footer2__down p {
  max-width: 460px;
  font-size: 18px;
}
.content6__footer2__down li a {
  color: #000;
}

.content6__footer2__down li {
  margin-top: 26px;
  margin-left: 15px;
  font-size: 14px;
  color: black;
}

.content6__footer2__down li a:hover {
  color: #f7941e;
}

