.footer__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 410px;
  background-color: rgba(0, 255, 255, 0.425);
}
ul.list1__footer {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  color: black;
}
.list1__footer a {
  color: black;
  font-weight: bold;
}
ul.list1__footer li {
  margin: 30px;
}
.list1__footer a:hover {
  color: #f7941e;
}

ul.list2__footer {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  color: black;
}
.list2__footer a {
  color: black;
  font-weight: bold;
}
ul.list2__footer li {
  margin: 30px;
}
.list2__footer a:hover {
  color: #f7941e;
}
.all__knopki__footer {
  display: flex;
  justify-content: space-between;
  min-width: 700px;
}
.footer__img img {
  width: 40px;
  height: 40px;
}
.footer__img {
  transform: translate(0px, 35px);
}
