.footer__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 410px;
}
ul.footer__list1 {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  color: black;
  padding-left: 200px;
}
.footer__list1 a {
  color: black;
  font-weight: bold;
}
ul.footer__list1 li {
  margin: 30px;
}
.footer__list1 a:hover {
  color: #f7941e;
}

ul.footer__list2 {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  color: black;
  padding-right: 200px;
}
.footer__list2 a {
  color: black;
  font-weight: bold;
}
ul.footer__list2 li {
  margin: 30px;
}
.footer__list2 a:hover {
  color: #f7941e;
}
.footer__all__knopki{
  display: flex;
  justify-content: space-between;
}
.footer__img img {
  width: 40px;
  height: 40px;
}
.footer__img {
  transform: translate(0px, 35px);
}
.footer__hr hr {
border: 1px solid black;
width: 1000px;
border-radius: 50%;
}
.footer__logos {
  display: flex;
  flex-wrap: wrap;
}
.footer__logos img {
  padding: 10px;
  margin-top: 20px;
}
.footer__text__license {
  display: flex;
}
.footer__text__license p {
  padding: 10px;
  margin-top: 73px;
  opacity: 0.5;
}
