.footer__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1440px;
  height: 410px;
}
ul.list1__footer {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  color: black;
  padding-left: 200px;
}
.list1__footer a {
  color: black;
  font-weight: bold;
}
ul.list1__footer li {
  margin: 30px;
}
.list1__footer a:hover {
  color: #f7941e;
}

ul.list2__footer {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  color: black;
  padding-right: 200px;
}
.list2__footer a {
  color: black;
  font-weight: bold;
}
ul.list2__footer li {
  margin: 30px;
}
.list2__footer a:hover {
  color: #f7941e;
}
.all__knopki__footer {
  display: flex;
  justify-content: space-between;
}
.footer__img img {
  width: 40px;
  height: 40px;
}
.footer__img {
  transform: translate(0px, 35px);
}
hr {
border: 1px solid black;
width: 1000px;
border-radius: 50%;
}

.footer__logos a {
  
}
.footer__logos img {
  padding: 10px;
  margin-top: 20px;
}
.footer__text__license {
  display: flex;
}
.footer__text__license p {
  padding: 10px;
  margin-top: 73px;
  opacity: 0.5;
}
