.header a {
  cursor: pointer;
  text-decoration: none;
}

.header {
  width: 1440px;
  height: 116px;
  margin-top: -21px;
  background-color: rgba(144, 197, 74, 0);
}
.header img {
  position: relative;
  width: 51px;
  height: 59px;
  margin-top: 39px;
  margin-left: 80px;
}

.Content1 {
  display: flex;
  flex-direction: column;
}
ul.list li {
  font-family: "Gilroy", sans-serif;
  display: inline;
  margin: 20px;
  font-size: 20px;
}
ul.list {
  margin-left: 500px;
  margin-top: -40px;
}
.list a {
  color: black;
}
.list a:hover {
  color: #f7941e;
}
.buttonHeader {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 43px;
  border-radius: 5px;
  background-color: rgba(235, 133, 8, 0);
  border: solid 1.5px rgb(235, 132, 8);
  margin-left: 1260px;
  margin-top: -30px;
}
.buttonHeader h2 {
  margin: auto;
  color: #f7941e;
  font-family: "Gilroy", sans-serif;
}

.buttonHeader:hover {
  box-shadow: 2px 2px 15px 4px rgba(78, 138, 181, 0.75);
}
