@media screen and (max-width: 700px) {
  .header {
    clear: both;
    font-size: 1.3em;
  }
}
.header a {
  cursor: pointer;
  text-decoration: none;
}

.header {
  display: flex;
  max-width: 1440px;
  height: 116px;
  margin-top: -21px;
  background-color: rgba(144, 197, 74, 0);
}
.header {
  margin-top: -30px;
}
.header img {
  width: 51px;
  height: 59px;
  margin-top: 59px;
  margin-left: 80px;
}

.header__knopki {
  min-width: 500px;
  margin-left: -130px;
}
ul.list li {
  font-family: "Gilroy", sans-serif;
  margin: 20px;
  font-size: 20px;
}
ul.list {
  display: flex;
  margin-left: 500px;
  margin-top: 60px;
}
.list a {
  color: black;
}
.list a:hover {
  color: #f7941e;
}
.buttonHeader {
  width: 150px;
  height: 43px;
  border-radius: 5px;
  background-color: rgba(235, 133, 8, 0);
  border: solid 1.5px rgb(235, 132, 8);
  margin-top: 60px;
  margin-left: 200px;
  line-height: 40px;
}
.buttonHeader h2 {
  color: #f7941e;
  font-family: "Gilroy", sans-serif;
  text-align: center;
}

.buttonHeader:hover {
  box-shadow: 2px 2px 15px 4px rgba(78, 138, 181, 0.75);
}
