
.header a {
  cursor: pointer;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -41px;
  background-color: rgba(144, 197, 74, 0);
}

.header img {
  width: 51px;
  height: 59px;
  margin-top: 49px;
  margin-left: 50px;
}

.header__knopki {
  min-width: 400px;
 
}
ul.header__list li {
  font-family: "Gilroy", sans-serif;
  margin: 20px;
  font-size: 20px;
}
.header__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-top: 60px;
}
.header__list a {
  color: black;
}
.header__list a:hover {
  color: #f7941e;
}
.buttonHeader {
  min-width: 150px;
  min-height: 43px;
  border-radius: 5px;
  background-color: rgba(235, 133, 8, 0);
  border: solid 1.5px rgb(235, 132, 8);
margin-top: 55px;
  line-height: 40px;
}
.buttonHeader h2 {
  color: #f7941e;
  font-family: "Gilroy", sans-serif;
  text-align: center;
}

.buttonHeader:hover {
  box-shadow: 2px 2px 15px 4px rgba(78, 138, 181, 0.75);
}
